{{/*
  only using one author now, so this is unnecessary for now

  {{if .Params.author}}
    <p>by {{.Params.author}}{{else}}{{ .Site.Params.author }}</p>
  {{end}}

*/}}


{{/*
    <p class="post-timestamp-row">Keywords: {{ .Page.Keywords }}</p>
    <p>Fuzzy Word Count: {{ .Page.FuzzyWordCount }}</p>
    <p>Kind: {{ .Page.Kind }}</p>
    <p>Prev: {{ .Page.PrevInSection }}</p>
    <p>Next: {{ .Page.NextInSection }}</p>
*/}}
