// imports for all media
@import 'inc_any/common.scss';

// imports for print only

//------------------------------------------------------------------------------

body {
    font-family: $fonts-primary;
    font-size: 12px; // font-size: 100%;
    background-color: white;
    color: black;
}

.site-title-global-h1,
.section-title-h1
{
    text-align: center;
}

a:link, 
a:visited
{ 
    color: #520;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
}

.entry-subfooter-print-timestamps
{ 
    margin-top:5px;
    padding-top:5px;
}


#footer-global { border-top: 1px solid lightgrey; }

.subfooter-global-any {
    padding: 0.5em;
}

//----------------------------------------------------------
// DETAILED INVENTORY OF ITEMS THAT DO NO PRINT
// listed roughly from the top of a page to the bottom
// the idea of using a catch-all class is deprecated
// give every element a specific class instead, even if the class is only
// used here
//----------------------------------------------------------

#noscript-caution-global-h1,

#hugo-env-label,
#dev-only-header,

nav,

.entry-subheader-screen-description,
.entry-subheader-screen-reading-time,

.entry-subfooter-screen-timestamps,
.entry-subfooter-screen-classification,
.entry-subfooter-screen-related,
.entry-subfooter-screen-adjacent,

#subfooter-global-build,
#subfooter-global-about

{ display: none; }
