// imports for all media
@import 'inc_any/common.scss';

//----------------------------------------------------------
// imports for screen only
// @import 'inc_screen/.scss';
@import 'inc_screen/_global-skel.scss';
@import 'inc_screen/_misc-tmp.scss';

@import 'inc_screen/base.scss';
@import 'inc_screen/responsive.scss';

@import 'inc_screen/headings.scss';

@import 'inc_screen/lists.scss';
@import 'inc_screen/links.scss';

@import 'inc_screen/entries-single.scss';

@import 'inc_screen/tables.scss';
// @import 'inc_screen/tables-data.scss';
// @import 'inc_screen/vendor/datatables.css';
// @import 'inc_screen/vendor/dt2.css';

//----------------------------------------------------------

.hide-when-js-disabled
{ display: none; }


// #search-query { width: 30%; height: 2rem; padding: 0.5rem;}

//----------------------------------------------------------
// ALTERNATE DEV COLORS (FOR CHECKING LAYOUTS)
// Hugo syntax won't work in includes as they're not being treated as templates

{{- if eq hugo.Environment "development" -}}
    // try, e.g., `hugo server -e testing` to not see these colors
    html { background-color: white; }
    body { background-color: #090951; }
    #container-global-primary { background-color:#4C4C04; } 
    #header-global, #footer-global { background-color:#5A1818; }
{{- else }}
    html { background-color: white; }    
    body { background-color: #1C1B22; }
{{- end -}}

//----------------------------------------------------------

body {
    font-family: $fonts-primary;
    font-size: 150%;
    color: #EEEEEE;
}

.transparent-sortable-text { 
    opacity: 0; /* is there any case where this does not work? */
    /* color: rgba(0, 0, 0, 0.5); */ /* this was actually dark grey, once I disabled the dark site theme */
 }

 .align-center { text-align: center; }
 .align-right { text-align: right; }