// CSS reset
*, 
html, body { margin: 0; padding: 0; border: 0; box-sizing: border-box; }

// https://www.freecodecamp.org/news/html-page-width-height/
body { min-height: 100vh; }

//----------------------------------------------------------
// container


// NO! set top border on global footer, do not set bottom
// footer on any iteration of <main> !
// .main-in-single { border-bottom: 1px solid yellow; }

.main-in-single,
.main-in-static

{
    // margin: 0;
    padding: 0 0.1em;
}

#footer-global { border-top: 1px solid yellow; }

.subfooter-global-any {
    padding: 0.5em;
}