// tweaks to Hugo internals
pre { border: 1px solid lightgray; }

// hr { width: 90%; }
// hr, .footnotes { padding-left: 2em; }

//----------------------------------------------------------
// HIDE FROM SKEL

.entry-body
{
    border-top: 1px solid yellow; // $border-color-any;
    border-bottom: 1px solid yellow; // $border-color-any;
}

// GLOBAL SUB-HEADERS

#hugo-env-label {
    padding: 0.5rem;
    background-color: orange;
    color: black;
    font-weight: bold;
}

#dev-only-header {
    padding: 0.1rem;
    border: 2px solid orange;
}

.template-label {
    // margin: 0 5rem;
    padding: 0.5rem;
    background-color: orange;
    color: black;
    font-weight: bold;
}
