p { margin: 1em 0; }

// this creates a gap at the BOTTOM of <body>
// div { margin: 1em 0; }

blockquote { margin-left: 2em; padding-left: 2em; border-left: 5px solid red; }

sup {margin-left: 0.5em; }

pre {overflow: auto; }
