.entry-subheader-screen-description,
.entry-subheader-screen-reading-time
{ text-align: center; }

.entry-subfooter-screen-timestamps,
.entry-subfooter-screen-classification,
.entry-subfooter-screen-related,
.entry-subfooter-screen-adjacent
{
    // border-bottom: 1px dashed $border-color-any;
   //  border-bottom: 1px dashed yellow;

    // base
    // margin-top: 0.1em;
    padding: 0 0 0.1rem 0.5rem;
}

.entry-subfooter-print-permalink,
.entry-subfooter-print-timestamps
{ display: none; }
