// why does this poke up out of <body> ?
h1 {
    // margin: 0.5em 0 0.5em 0;
    margin: 0 0 0.5em 0;
    padding-top: 0.5em;
}

h2, h3, h4, h5, h6 { margin: 1em 0; }

//----------------------------------------------------------
#noscript-caution-global-h1
{
    text-align: center;
    font-size: 80%;
    background-color: #c90707;
    margin: 0;
    padding: 0.5em;
}

//----------------------------------------------------------
#site-title-global-h1
{
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 110%;
    // font-style: oblique;
    background-color: #323A40; // #6C6C6C;
    
    margin: 0;
    // padding: 0.5em;
}

//----------------------------------------------------------
.section-title-h1
{
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 120%;
}

//----------------------------------------------------------

.nav-main
{
    background-color: #323A40; // #6C6C6C;
}