// https://www.w3schools.com/colors/colors_names.asp

// https://css-tricks.com/a-complete-guide-to-links-and-buttons/
// https://css-tricks.com/css-basics-styling-links-like-boss/
// https://css-tricks.com/building-good-download-button/

//----------------------------------------------------------

// base colors for ALL links (nav or in-article links)
// TODO: use Chrome Dev Tools or similar (?) to check that these link colors offer enough contrast

a:link    { color: cyan; }
a:visited { color: violet; }
a:hover   { color: chartreuse; background-color: gray; }
// focus seems to override active
a:active  { color: yellow; background-color: darkslateblue; }
a:focus   { color: yellow; background-color: darkslateblue; }

//----------------------------------------------------------
.nav-main
{
    a {
        padding: 0.9em 0.5em;
        border: 1px solid darkslategrey;
    }

    $nav-main-bg-color: #323A40;

    a:link    { background-color: $nav-main-bg-color; }
    a:visited { background-color: $nav-main-bg-color; }
    a:hover   { color: chartreuse; background-color: gray; }
    a:active  { color: yellow; background-color: darkslateblue; }
    a:focus   { color: yellow; background-color: darkslateblue; }
}

//----------------------------------------------------------
.entry-footer-links {
    background: darkslategrey;
    padding: 0.8rem;
    
    // margin-bottom: 5em;

    // font-size: 1rem;
    // text-decoration: none;
}

//----------------------------------------------------------
// what about links in tables on entry list pages?
