// style lists individually, there's no need for a default?
// the below seems to clash with styles specific to nav lists
ol, ul, li { margin-left: 1em; }

//----------------------------------------------------------
#dev-only-header
{ 
    ol, ul, li { margin-left: 1em; }
}


//----------------------------------------------------------
// deprecated?
//.nav-main-list
.nav-main
{
    text-align: center;
    padding: 1em 0;
    margin-left: -0.5em;
    
    ul {
        list-style-type: none;
        margin: 0; // override default
        padding: 0;
    }

    li {
        display: inline;
        margin: 0; // override default
        padding: 0;
    }

}


.dev-only-menu-horizontal
{
        list-style-type: none;
        margin: 0;
        padding: 0;


    li {
        display: inline;
        padding: 0;
    }
}

//----------------------------------------------------------
.entry-body,
.entry-subfooter-screen-adjacent
{ 
    ol, ul, li { margin-left: 1em; }
}

//----------------------------------------------------------

.section-taxa-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        padding: 0 0.75rem 0 0;
    }
}

