@media screen and (min-width: 800px)
{

    .main-in-single,
    .main-in-static
    
    { padding: 0 9em; }
    
    .entry-subfooter-screen-timestamps,
    .entry-subfooter-screen-classification,
    .entry-subfooter-screen-related,
    .entry-subfooter-screen-adjacent {
        margin-top: 1em;
        padding: 0 0 1rem 5rem;
    }

    #footer-global
    {
        // margin-top: 1em;
        padding: 1em 0 1rem 5rem;
    }

}
