#datatables-container
{
    max-width: 94%;
    margin: auto;
    overflow: auto;
    border: 1px solid $border-color-any;
    font-size: 85%;
}

.entries-archive-table
{

    // temp <div>, still need to integrate DataTables
    // and maybe freeze header, first column
    overflow: auto;
    border: 1px solid $border-color-any;
    padding: 0.2em; // note that DataTables is padding the right side and this does not affect it

    table {
    border: 1px solid $border-color-any;
    border-collapse: collapse;
    margin-bottom: 2rem;
    }

    tr, th, td {
        border: 1px solid $border-color-any;
        border-collapse: collapse;
        padding: 0.5rem;
    }
    
    
    /*
    // need to override DataTables CSS
    // another possible option: https://datatables.net/manual/styling/theme-creator
    th { background-color: darkslategrey; }
    tr.odd { background-color: #0c2407; } // rgb(26, 24, 24); }
    tr.even { background-color: #11320a; } // rgb(10, 8, 8); }
    */

}

//----------------------------------------------------------

.taxonomy-terms-table {
    border: 1px solid $border-color-any;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.taxonomy-terms-table-cell
 {
    border: 1px solid $border-color-any;
    border-collapse: collapse;
    padding: 0.5rem;
}
