<h2>Entries Archive For This Section</h2>


{{/* table presented when JS is DISabled -------------- */}}
<noscript>
    <p>
        The default sort is by Published date.
        <br>Enable JavaScript to sort the columns in the following table.
    </p>
    <div class="entries-archive-table">
        <table>
            {{- partial "entries_overview/archive-table-rows.html" . -}}
        </table>
    </div> <!-- end of .entries-archive-table -->
</noscript>

{{/* table presented when JS is ENabled --------------- */}}
<div id="datatables-container" class="hide-when-js-disabled">

{{/*

https://datatables.net/manual/styling/classes

nowrap ?

<table class="datatables cell-border order-column stripe hover">

change default sort (for JS only?) to weight (or new pinned frontmatter item?), then lastmod, then pub date?

<table class="cell-border hover stripe order-column">

*/}}


<table id="dt" class="cell-border hover stripe order-column nowrap">
    {{- partial "entries_overview/archive-table-rows.html" . -}}
</table>

</div>

<!--=====================================================-->
<!-- <script type="text/javascript" charset="utf8" src="/js/dt-init.js"></script> -->

<script>
$(document).ready(function() {

    $('#dt').DataTable( {
    // $('table.stripe').DataTable( {

        paging: true,

        "ordering": true,
        
        "language": {
            "search": "Filter rows: "
        },

        // this does not work
        // "order": [[ 2, 'asc' ], [ 3, 'asc' ]]
        "order": [ [ 2, 'asc' ] ]
       
    } );

} );
</script>