<thead>
<tr>
<!-- <th class="posts-table-cell">Title</th> -->
<th>Title</th>
<th>Words</th>
<th>Pinned</th><!-- using Weight for pinned/sticky/featured -->
<th>Published</th>
<th>Updated</th>

<th>Categories</th>
<th>Tags</th>

{{- if eq .Section "posts" -}}
    <th>Series</th>
    <th>Summary</th>
    <th>Description</th>
{{- end -}}

</tr>
</thead>
<tbody>


{{/*


https://discourse.gohugo.io/t/order-by-multiple-params/16074
{{ range ($.Site.RegularPages.ByParam "firstparam").ByParam "secondparam" }}

https://discourse.gohugo.io/t/how-do-i-sort-by-weight-then-title/18297/7

{{- range .Pages.ByWeight -}}

999 goes to the end unless you use desc

{{- range .Pages.GroupBy "Weight" "asc" -}}
{{- range .Pages.ByLastmod.Reverse -}}

{{- range .Pages.ByPublishDate.Reverse -}}
{{- range .Pages.ByTitle -}}

may not be able to sort on more than two attributes ... table is empty when I do

*/}}


{{- range .Pages -}}


<!--|=======================================================================|-->
<tr>

<!-- <td class="posts-table-cell"> -->
<td>
<!-- <td class="dt-nowrap"> -->
<a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
</td>

<td class="align-right dt-right">
    {{- .WordCount -}}
</td>

<!-- <td class="align-center dt-center"> -->
<td class="align-center">
    {{- if eq .Weight 999 -}}
        <span class="transparent-sortable-text">
            {{ .Weight }}
        </span>
    {{- else -}}
        {{ .Weight }}
    {{- end -}}
</td>

<td>
    <!-- {{- .PublishDate.Format "2006-01-02" -}} -->
    {{- .PublishDate.Format "2006-01-02 @ 15:04 MST" -}}
    <!-- {{- .PublishDate -}} -->
</td>

<td>
    {{- if eq .Lastmod .PublishDate -}}
        <span class="transparent-sortable-text">
            {{- .Lastmod.Format "2006-01-02 @ 15:04 MST" -}}
        </span>
    {{- else -}}
        {{- .Lastmod.Format "2006-01-02 @ 15:04 MST" -}}
    {{- end -}}
</td>


<!--#===================================================#-->
            <td>
                {{ with .Params.categories }}
                {{- range $index, $categories := . -}}
                    {{- if ne $index 0 -}}
                        {{- $.Site.Params.categoryDelimiter | default "· " -}}
                    {{- end -}}
                {{ $href := print (absURL "categories/") (urlize .) }}
                <a href="{{ $href }}">{{ . }}</a>
                {{ end }}
                {{ end }}
            </td>

            <td>
                {{ with .Params.tags }}
                {{- range $index, $tags := . -}}
                    {{- if ne $index 0 -}}
                        {{- $.Site.Params.tagsDelimiter | default "· " -}}
                    {{- end -}}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a href="{{ $href }}">{{ . }}</a>
                {{ end }}
                {{ end }}
            </td>


{{- if eq .Section "posts" -}}

    <td>
        {{ with .Params.series }}
        {{- range $index, $series := . -}}
            {{- if ne $index 0 -}}
                {{- $.Site.Params.seriesDelimiter | default "· " -}}
            {{- end -}}
        {{ $href := print (absURL "series/") (urlize .) }}
        <a href="{{ $href }}">{{ . }}</a>
        {{ end }}
        {{ end }}
    </td>

    <td>
        {{ if gt (len .Summary) 0 }}
            {{- .Summary | safeHTML -}}
        {{ end }}
    </td>

    <td>
        {{- .Description | safeHTML -}}
    </td>

{{- end -}}

</tr>



{{- end -}}




</tbody>