{{/*
    https://gohugo.io/hugo-pipes/js/
    
    separate any of these concatenated files out so that e.g., Datatables
    stuff is ONLY included on pages that use it, and a "global" sitewide bundle too?
    - dark mode would be sitewide
    - copy URL would only be on post single pages

    So I'd need to break the current file down into multiple script-n.html partials?

    jQuery and DataTables includes below last accessed from respective CDN's on:
    2021 March 13
    https://jquery.com/
    https://datatables.net/ (be sure to also update the CSS from CDN)

    DON'T USE A CDN

*/}}



{{- $scripts := slice "js/vendor/datatables-1.11.1/dt-min.js" -}}
{{- $scripts = union $scripts (slice "js/dt-init.js") -}}



{{- $processedScripts := slice ("" | resources.FromString "dummy.js") -}}
{{- range $scripts -}}
    {{- if findRE `^https?:` . -}}
        <script src="{{ . }}" defer></script>
    {{- else -}}
        {{- $path := printf "%s/%s" $.Lang (. | replaceRE `\.js$` "-rendered.js") -}}
        {{- $processedScripts = union $processedScripts (slice (resources.Get . | resources.ExecuteAsTemplate $path $)) -}}
    {{- end -}}
{{- end -}}


{{- $path := (strings.TrimPrefix "/" (printf `%s/js/entries-overview.js` .Site.LanguagePrefix)) -}}


{{- $script := $processedScripts | resources.Concat $path | resources.Minify -}}
{{- if .Site.Params.enableFingerprint -}}
    {{- $script = $script | resources.Fingerprint -}}
    <script src="{{ $script.RelPermalink }}"
    {{- if .Site.Params.enableSRI }} integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"{{- end -}}
    ></script>
{{- else -}}
    <script src="{{ $script.RelPermalink }}"></script>
{{- end }}
