{{/*
{{- if or ( .PrevInSection ) ( .NextInSection ) -}}

<div class="entry-navigation-container">

    {{ if .Section }}

    <!-- <nav class="flex container suggested"> -->


        {{ with .PrevInSection }}
        <p>
        <a rel="prev" href="{{ .RelPermalink }}" title="Previous post (older)">
            <span>Previous</span>
            {{ .Title }}
            </a>
          </p>
        {{ end }}

        {{ with .NextInSection }}
        <p>
        <a rel="next" href="{{ .RelPermalink }}" title="Next post (newer)">
            <span>Next</span>
            {{ .Title }}
            </a>
            </p>
        {{ end }}
    </nav>

    {{ end }}
</div>

{{end}}

*/}}


{{/*----------------------------------------------------*/}}


{{- if or ( .PrevInSection ) ( .NextInSection ) -}}

<div class="entry-subfooter-screen-adjacent">

<h3>Entries Adjacent</h3>

    {{ if .Section }}


        {{ with .PrevInSection }}
        <p>
        &nbsp;&nbsp; <!-- temp hack -->
        <strong>Previous</strong>
        <a class="entry-footer-links" rel="prev" href="{{ .RelPermalink }}" title="Previous post (older)">

            
            {{ .Title }}
            </a>
          </p>
        {{ end }}


        {{ with .NextInSection }}
        <p>
        &nbsp;&nbsp; <!-- temp hack -->
        <strong>Next</strong>
        <a class="entry-footer-links" rel="next" href="{{ .RelPermalink }}" title="Next post (newer)">
            
            {{ .Title }}
            </a>
            </p>
        {{ end }}


    {{ end }}

</div>

{{end}}
