{{ if or (.Params.categories) (.Params.tags) (.Params.series) }}
<div class="entry-subfooter-screen-classification">

<h3>Entry Classification</h3>

{{/*----------------------------------------------------*/}}
  {{ if .Params.categories }}
<p>
    &nbsp;&nbsp; <!-- temp hack -->
    Categories:

    {{ with .Params.categories }}
    {{ range . }}
    {{ $href := print (absURL "categories/") (urlize .) }}
    
    <a class="entry-footer-links" href="{{ $href }}">{{ . }}</a>
    
    {{ end }}
    {{ end }}
</p>
  {{ end }}

{{/*----------------------------------------------------*/}}
  {{ if .Params.tags }}
<p>
    &nbsp;&nbsp; <!-- temp hack -->
    Tags:

    {{ with .Params.tags }}
    {{ range . }}
    {{ $href := print (absURL "tags/") (urlize .) }}

    <a class="entry-footer-links" href="{{ $href }}">{{ . }}</a>

    {{ end }}
    {{ end }}
 </p>   
  {{ end }}

{{/*----------------------------------------------------*/}}
  {{ if .Params.series }}
<p>
    &nbsp;&nbsp; <!-- temp hack -->
    Series:

    {{ with .Params.series }}
    {{ range . }}
    {{ $href := print (absURL "series/") (urlize .) }}
    
    <a class="entry-footer-links" href="{{ $href }}">{{ . }}</a>
    
    {{ end }}
    {{ end }}
</p>
  {{ end }}

{{/*----------------------------------------------------*/}}

</div>

{{ end }}
