{{/*
need to disable this in section Links
*/}}

{{- if eq .Section "posts" -}}

  {{- if gt .WordCount 1 -}}
    {{- .Scratch.Set "wordCount" "words" -}}
  {{- else -}}
    {{- .Scratch.Set "wordCount" "word" -}}
  {{- end -}}

  {{- if gt .WordCount 1 -}}
  <div class="entry-subheader-screen-reading-time">
  Estimated {{ .ReadingTime }} minute read ({{ .WordCount }} {{ .Scratch.Get "wordCount" }})
  </div>
  {{- end -}}

{{- end -}}

{{- if eq .Section "microposts" -}}
  <p>RuneCount: {{ strings.RuneCount .Content }}</p>
  <p>countrunes: {{ countrunes .Content }}</p>
{{- end -}}