{{/*
do NOT use .Date, creation date is not public, is only for internal
documentation purposes;
do NOT want datetime formatting to be overriden in config
*/}}

{{/*
Local produces UTC on GitLab by default, see the
.gitlab-ci.yml for the override; no reason to set $TZ in
.envrc when running locally
*/}}

{{/*----------------------------------------------------*/}}

{{- if not .PublishDate.IsZero -}}

{{/*----------------------------------------------------*/}}
<div class="entry-subfooter-screen-timestamps">

<h3>Entry Timestamps</h3>

<p>
&nbsp;&nbsp; <!-- temp hack -->
<strong>Published:</strong>
<br>{{ dateFormat "Mon 02 Jan 2006 15:04 MST -0700" .PublishDate.Local }} /
<br>{{ dateFormat "Mon 02 Jan 2006 15:04 MST" .PublishDate.UTC }} /
<br>{{ .PublishDate.Unix }} Unix
</p>

{{- if ne .Lastmod .PublishDate -}}

<p>
&nbsp;&nbsp; <!-- temp hack -->
<strong>Last Updated:</strong>
<br>{{ dateFormat "Mon 02 Jan 2006 15:04 MST -0700" .Lastmod.Local }} /
<br>{{ dateFormat "Mon 02 Jan 2006 15:04 MST" .Lastmod.UTC }} /
<br>{{ .Lastmod.Unix }} Unix
</p>
{{end}}

</div>

{{/*----------------------------------------------------*/}}
<div class="entry-subfooter-print-timestamps">
Published: {{ dateFormat "Mon 02 Jan 2006 15:04 MST" .PublishDate.UTC }}
&nbsp;
{{ if ne .Lastmod .PublishDate }}
Updated: {{ dateFormat "Mon 02 Jan 2006 15:04 MST" .Lastmod.UTC }}
{{end}}

</div>

{{/*----------------------------------------------------*/}}
{{end}}
