
{{ $related := .Site.RegularPages.Related . | first 5 }}

{{ if $related }}
<div class="entry-subfooter-screen-adjacent">

	{{ with $related }}
	<h3>Entries Related</h3>
	<ul>
		{{ range . }}
		<li><a class="entry-footer-links"  href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
	</ul>

	{{ end }}

</div>
{{ end }}
