{{/*
    this is used by the accessible minimalism theme; we will use HTML5 instead

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="{{ .Site.LanguageCode }}" xmlns="http://www.w3.org/1999/xhtml">

------------------------------------------------------------

    issues:
- svg in content not getting rendered

------------------------------------------------------------
*/}}

<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

    <head>

        {{- partial "head/analytics.html" . -}}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {{ $title := print .Site.Title " | " .Title }}
        {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
        <title>{{ $title }}</title>

        {{- partial "head/icons.html" . -}}
        {{- partial "head/feeds.html" . -}}
<!--=====================================================-->
{{- partial "head/styles.html" . -}}
<!--=====================================================-->

<link rel="stylesheet" type="text/css" href="/DataTables-1.11.2/css/jquery.dataTables.css"/>
<link rel="stylesheet" type="text/css" href="/Buttons-2.0.0/css/buttons.dataTables.css"/>
<link rel="stylesheet" type="text/css" href="/datatables.css"/>

<script type="text/javascript" src="/jQuery-3.6.0/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/DataTables-1.11.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/Buttons-2.0.0/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="/datatables.js"></script>

<!--=====================================================-->
    </head>

    <body>

        <!-- <div id="container-global-primary"> -->

            <header id="header-global">
                {{- partial "viewport-header-combined.html" . -}}
            </header>

{{/*
DEPRECATING
<div id="container-global-primary">

STYLING <main> instead, and only establish the <main> element, with a specific
CLASS, inside a specific PARTIAL, not here
*/}}


                {{- block "main" . -}}{{- end -}}

            <footer id="footer-global">
                {{- partial "viewport-footer-combined.html" . -}}
            </footer>

        {{/* hide global search box when JS is disabled */}}
        <script>
            document.getElementsByClassName("hide-when-js-disabled")[0].removeAttribute("class");
        </script>


    </body>

</html>
