{{ define "main" }}
<main>

{{- if eq hugo.Environment "development" -}}
  <p class="template-label">Template: overview.html</p>
{{- end -}}

<div class="no-print">

<h1>Section: {{ .Title }}</h1>

{{- if .Pages -}}

<!-- <p>{{ .TableOfContents }}</p> -->

{{/* ENTRIES SEARCH FOR THIS SECTION -------------------------------------- */}}
{{/*
  Search summaries (faster):
  Search full text (slower):
*/}}


{{/* ENTRIES ARCHIVE FOR THIS SECTION ------------------------------------- */}}
{{- partial "entries_overview/archives.html" . -}}


{{/* ENTRIES TAXONOMIES FOR THIS SECTION ---------------------------------- */}}
{{/*

note that the COUNTS below are not yet limited to SECTIONS, nor is the RSS feed for a given taxonomy

put the feed links for each taxonomy in another column here, instead of the taxonomy template?

*/}}

<h2>Entries Taxonomies For This Section</h2>
<p>While these terms are constrained to this section, the entry count for each term is for all sections.</p>

{{ $sectionCategories := where .Site.Taxonomies.categories ".Page.Section" .Section }}
{{ if $sectionCategories }}
<h3>Categories:</h3>

<!--
<table class="cell-border hover stripe order-column">

-->

<table class="taxonomy-terms-table">
<thead>
<tr>
  <th class="taxonomy-terms-table-cell">Term</th>
  <th class="taxonomy-terms-table-cell"> Entry Count</th>
</tr>
</thead>
<tbody>
{{ range $sectionCategories }}
<tr>
  <td class="taxonomy-terms-table-cell"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></td>
  <td class="taxonomy-terms-table-cell">{{- .Count }}</td>
</tr>
{{ end }}
</tbody>
</table>
{{ end }}

{{ $sectionSeries := where .Site.Taxonomies.series ".Page.Section" .Section }}
{{ if $sectionSeries }}
<h3>Series:</h3>
<table class="taxonomy-terms-table">
<thead>
<tr>
  <th class="taxonomy-terms-table-cell">Term</th>
  <th class="taxonomy-terms-table-cell">Entry Count</th>
</tr>
</thead>
<tbody>
{{ range $sectionSeries }}
<tr>
  <td class="taxonomy-terms-table-cell"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></td>
  <td class="taxonomy-terms-table-cell">{{- .Count }}</td>
</tr>
{{ end }}
</tbody>
</table>
{{ end }}

{{ $sectionTags := where .Site.Taxonomies.tags ".Page.Section" .Section }}
{{ if $sectionTags }}
<h3>Tags:</h3>
<table class="taxonomy-terms-table">
<thead>
<tr>
  <th class="taxonomy-terms-table-cell">Term</th>
  <th class="taxonomy-terms-table-cell">Entry Count</th>
</tr>
</thead>
<tbody>
{{ range $sectionTags }}
<tr>
  <td class="taxonomy-terms-table-cell"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></td>
  <td class="taxonomy-terms-table-cell">{{- .Count }}</td>
</tr>
{{ end }}
</tbody>
</table>
{{ end }}


{{/* ENTRIES FEED FOR THIS SECTION -------------------- */}}

<h2>Entries Feeds For This Section</h2>
<p>
<a href="index.xml"> RSS Feed</a>
</p>

</main>

{{- else -}}
  <p>There's nothing here yet, check back later.</p>
{{- end -}}

{{ end }}
