{{ define "main" }}

    {{/* do not use more than one h1 element on a site, i.e., the global site title */}}
    <h2>{{ .Title }}</h2>

    <table class="posts-table">
        <thead>
            <tr>
                <th class="posts-table-cell">Date</th>
                <th class="posts-table-cell">Title</th>
                <th class="posts-table-cell">Summary</th>
            </tr>
        </thead>
        <tbody>

            {{ range .Pages.ByPublishDate.Reverse }}
            <tr>

                <td class="posts-table-cell">
                    {{- .Date.Format "2006-01-02" -}}
                </td>

                <td class="posts-table-cell">
                    <h3>
                        <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
                    </h3>
                </td>

                <td class="posts-table-cell">
                    {{ if gt (len .Summary) 0 }}
                        {{- .Summary | safeHTML -}}
                    {{ end }}
                </td>

            </tr>
            {{ end }}

        </tbody>
    </table>

{{ end }}
