{{- define "main" -}}

<main class="main-in-single">

<header class="entry-header">
{{/* {{- partial "posts/tmp/post-experiments.html" . -}} */}}

{{- if ne .Params.Type "page" -}}

{{/*
POST title; do not use more than one h1 element on a site, i.e., the
global SITE title ? even the sample posts don't follow this dictum
*/}}
<h1 class="section-title-h1">{{- .Title -}}</h1>

<div class="entry-subheader-screen-description">{{- .Description -}}</div>

{{- partial "entries/entry-reading-time.html" . -}}

</header>

<div class="entry-body">
    {{- .Content -}}
</div>


{{/*----------------------------------------------------*/}}
{{- if ne .Params.Type "page" -}} <!-- ????????? -->
{{- partial "entries/entry-timestamps.html" . -}}
{{- end -}} <!-- ????????? -->
{{/*----------------------------------------------------*/}}

<p class="entry-subfooter-print-permalink">
<!-- <p class="print-only"> -->
Permalink: {{ .Page.Permalink }}
</p>

{{- partial "entries/entry-classification.html" . -}}
{{- partial "entries/related-entries.html" . -}}
{{- partial "entries/adjacent-entries.html" . -}}


{{- end -}}

</main>
{{- end -}}
