{{- define "main" -}}
<main class="main-in-static">

<header>

{{- if ne .Params.Type "page" -}}

<h1 class="section-title-h1">{{- .Title -}}</h1>

</header>

    {{- .Content -}}

{{- end -}}

</main>
{{- end -}}
