{{ define "main" }}

{{- if eq hugo.Environment "development" -}}
    <p class="template-label">Template: taxonomy.html</p>
{{- end -}}

<div class="no-print">

    {{/* do not use more than one h1 element on a site, i.e., the global site title */}}
    <h2>Taxonomy: {{ .Title }}</h2>

    {{- if .Site.Params.showLinkToTaxonomyFeedAsRSS -}}
        <p><a href="index.xml">RSS feed for this taxonomy</a>
    {{- end -}}

    <table class="posts-table">
        <thead>
            <tr>
                <th class="posts-table-cell">Date</th>
                <th class="posts-table-cell">Title</th>
                <th class="posts-table-cell">Summary</th>
            </tr>
        </thead>
        <tbody>

            {{ range .Pages.ByPublishDate.Reverse }}
            <tr>

                <td class="posts-table-cell">
                    {{- .Date.Format "2006-01-02" -}}
                </td>

                <td class="posts-table-cell">
                    <h3>
                        <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
                    </h3>
                </td>

                <td class="posts-table-cell">
                    {{ if gt (len .Summary) 0 }}
                        {{- .Summary | safeHTML -}}
                    {{ end }}
                </td>

            </tr>
            {{ end }}

        </tbody>
    </table>

</div>

{{ end }}
