{{ define "main" }}

{{- if eq hugo.Environment "development" -}}
    <p class="template-label">Template: terms.html</p>
{{- end -}}

<div class="no-print">

    {{/*
    {{ $pages := .Pages }}
    {{ $pages = (.Paginate $pages).Pages }}
    */}}

    {{/* do not use more than one h1 element on a site, i.e., the global site title */}}
    <h2>{{ .Title }}</h2>

Tags
{{ $t := where .Site.Taxonomies.tags ".Page.Section" "links" }}
{{ range $t }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
{{ end }}

Cats
{{ $t := where .Site.Taxonomies.categories ".Page.Section" "links" }}
{{ range $t }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
{{ end }}



    <table class="taxonomy-terms-table">
        <thead>
            <tr>
                <th class="taxonomy-terms-table-cell">Term</th>
                <th class="taxonomy-terms-table-cell">Count</th>
            </tr>
        </thead>
        <tbody>

            {{ range (index .Site.Taxonomies (.Title | lower)) }}
            <tr>

                <td class="taxonomy-terms-table-cell">
                    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                </td>

                <td class="taxonomy-terms-table-cell">
                    {{- .Count }}
                </td>

            </tr>
            {{ end }}

        </tbody>
    </table>


</div>

{{ end }}
