{{ $screen_template := resources.Get "sass/screen-main.scss" }}
{{ $screen_style := $screen_template | resources.ExecuteAsTemplate "screen.min.css" . | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link media="screen" rel="stylesheet" href="{{ $screen_style.RelPermalink }}">


{{ $print_template := resources.Get "sass/print-main.scss" }}
{{ $print_style := $print_template | resources.ExecuteAsTemplate "print.min.css" . | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link media="print" rel="stylesheet" href="{{ $print_style.RelPermalink }}">


<!--
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.structure.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.css">
<link rel="stylesheet" type="text/css" href="/css/theme.css">

<link rel="stylesheet" type="text/css" href="/css/dt-1.11.1.css">

-->