{{- if .Site.Params.enableGlobalSearchInHeader -}}
<div class="hide-when-js-disabled">
    <form action="{{ "search" | absURL }}" class="search-form">
        
        {{/*  <label for="search-query" class="input-label">Search: </label>  */}}

        <input id="search-query" name="search-query" type="text" placeholder="Search this site (type here then press enter)" />
    </form>
</div>
{{- end -}}
