
{{- /* {{- partial "minify-test.html" . -}} */ -}}
{{- /*
    WARNING: counterintuitively, the minifier does not discard extra
    newlines like browser rending engines do; thus, do not leave any
    newlines here in the raw source, even for your own benefit in a
    text editor, unless you want them retained in the minified source;
    as of summer 2021 the minifier author does not believe this to be
    a problem
*/ -}}

{{/* NOSCRIPT TRANSIENT SUB-HEADER -------------------- */}}
<noscript>
<h1 id="noscript-caution-global-h1">
JavaScript is disabled. This will prevent <a href="/about/site/javascript/">some aspects</a> of this site from functioning. Please enable JavaScript if desired.
</h1>
</noscript>

{{/* SITE TITLE SUB-HEADER ---------------------------- */}}
<!--
do not use more than one h1 element on a site; thus there
is no reason to add a class or id
-->
<h1 id="site-title-global-h1">
    {{- .Site.Title -}}
</h1>


{{/* GLOBAL NAV SUB-HEADER ---------------------------- */}}
<nav class="nav-main">
    <ul>
        {{- range .Site.Menus.main -}}
        <li><a href="{{ .URL }}">{{- $text := print .Name | safeHTML -}}{{- $text -}}</a></li>
        {{- end -}}
    </ul>
</nav>

{{/* ENV-SPECIFIC TRANSIENT SUB-HEADER ---------------- */}}
{{- if ne hugo.Environment "production" -}}
    <div id="hugo-env-label">
        Current environment:&nbsp;{{- hugo.Environment -}}
    </div>
{{- end -}}

{{- if eq hugo.Environment "development" -}}

    <div id="dev-only-header">

                {{/*
                    until menu items address this natively ...
                    https://github.com/gohugoio/hugo/issues/3600#issuecomment-825589377

                    <a href="{{ .URL }}" target='{{ if in .URL "https://" }}_blank{{ else }}_self{{ end }}'>
                */}}

        <!-- <ul class="nav-main-list"> -->
        <p>
        Offsite links (Hint:  open, e.g., the live site, in a new private window, to check uncached link states, and GL Pages visibility when not logged in)
        </p>

        <ul class="dev-only-menu-horizontal">
            {{- range .Site.Menus.dev_blank -}}
                <li class="nav-main-list-item">
                    <a href="{{ .URL }}" target="_blank">
                        {{- $text := print .Name | safeHTML -}}
                        {{- $text -}}
                    </a>
                </li>
        {{- end -}}
        </ul>

        <p>Onsite links for testing</p>
        <ul class="dev-only-menu-horizontal">
            {{- range .Site.Menus.dev_self -}}
                <li>
                    <a href="{{ .URL }}">
                        {{- $text := print .Name | safeHTML -}}
                        {{- $text -}}
                    </a>
                </li>
        {{- end -}}
        </ul>

        <p>Global Taxonomies (Deprecated)</p>
        <ul class="dev-only-menu-horizontal">
            {{- range .Site.Menus.dev_self_deprec -}}
                <li>
                    <a href="{{ .URL }}">
                        {{- $text := print .Name | safeHTML -}}
                        {{- $text -}}
                    </a>
                </li>
        {{- end -}}
        </ul>

        <p>dev-only dash?</p>
        <!-- use JS to search for unclassified content? -->
    </div>
{{- end -}}


{{/* DEPRECATED GLOBAL SEARCH SUB-HEADER -------------- */}}
<!--
might convert client-side search to a section-specific
feature (if possible), and remove this global partial
-->

{{- partial "header/global-search-deprecated.html" . -}}