{{/*  <p><a href="#">Back to top</a></p>  */}}



<div id="subfooter-global-copyright" class="subfooter-global-any">
    {{ replace .Site.Copyright "{year}" now.Year }}
</div>


{{/*----------------------------------------------------*/}}

<!--
Local produces UTC on GitLab by default, see the
.gitlab-ci.yml for the override; no reason to set $TZ in
.envrc when running locally
-->




<div id="subfooter-global-build" class="subfooter-global-any">

Site last built:&nbsp;
{{/* {{- now.Format "Mon 02 Jan 2006 15:04 MST -0700" -}} */}}
{{- dateFormat "Mon 02 Jan 2006 15:04 MST -0700" now.Local -}}
&nbsp;/&nbsp;
{{- dateFormat "Mon 02 Jan 2006 15:04 MST" now.UTC -}}
&nbsp;/&nbsp;
{{- now.Unix -}} &nbsp;Unix
</div>

<!--
browser sniffer to condtionally present warning for older
browsers not supported by this site?
-->